@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #F8FAFC;
    color: #1E293B;
    @apply text-body;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
  }

  p {
    line-height: 1.5;
  }
}

::selection {
  background-color: #82CAEB;
  color: #0F172A;
}
