@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F4FAFE;
  color: #2E4A5A;
}

::selection {
  background-color: #A9E0F6;
  color: #2E4A5A;
}
